/* Add application styles & imports to this file! */
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: green;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
